
.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
}

.btn-custom-orange {
  background-color: orange;
  color: #fff;
}

.btn-custom-blue {
  background-color: blue;
  color: #fff;
}

.custom-link{
  position: fixed;
  top: 3%;
  right: 4%;
  font-size: 1rem;
  text-decoration: underline;
  color: blue;
}

.custom-link:hover{
  cursor: pointer;
}
